.resultados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 20px;
}

.titulo {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 40px;
}

.wrapp {
  display: flex;
  gap: 20px;
}

@media (max-width: 768px) {
  .wrapp {
    flex-direction: column;
    gap: 0;
  }

  .titulo {
    font-size: 2rem;
    margin-bottom: 30px;
  }
}
