.resultados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 20px;
}

.titulo {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 40px;
}

.wrapp {
  display: flex;
}